/* Global settings */
:root {
  /* Text Color */
  --main-color-text: #757575;
  --titel-color-text: #212121;
  --white-color: #ffffff;
  --logo-black-text: #000000;
  --logo-blue-text: #2196f3;

  /* interactive Colors */
  --bgd-accent-color: #2f303a;
  --activ-color-blue: #2196f3;
  --bgd-button-filter: #f5f4fa;
  
  /* icon color */
  --icon-main-color: #AFB1B8;

  /* border */
  --border-card-portfolio: #eeeeee;
}

/* Стандартные стили */

body {
  color: var(--main-color-text);
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h5,
p,
ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.list {
  list-style: none;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
/* hover focus tab */

.nav-page.list :hover,
.nav-page.list :focus,
.contact-header.list :hover,
.contact-header.list :focus,
.contact-footer.list :hover,
.contact-footer.list :focus {
  color: var(--logo-blue-text);
}

/* header */
.header {
  color: var(--white-color);
  border-bottom: 1px solid #ececec;
  padding: 15px 0;

  outline: 2px solid khaki;
}

/* logotype */
.logo {
  font-family: "Raleway", sans-serif;

  color: var(--logo-black-text);
  letter-spacing: 0.03em;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.92;

  text-decoration: none;
}

.logo.white {
  color: var(--white-color);
  margin-bottom: 20px;
}

.web {
  color: var(--logo-blue-text);
}

/*  Navigation */
.flex-nav {
  display: flex;
  align-content: center;
}

.nav {
  display: flex;
}

.nav-page.list {
  display: flex;
  margin-left: 93px;
  align-items: center;
}

.nav-item:not(:first-child) {
  margin-left: 50px;
}

.nav-link {
  text-decoration: none;
  font-weight: 500;

  color: var(--titel-color-text);
  font-size: 14px;
  line-height: 1.14;
  display: block;
}

.nav-link,
.contact-header-link {
  letter-spacing: 0.02em;
}

/* TOP Contacts */
.contact-header.list {
  display: flex;
  margin-left: auto;
  align-items: center;
}

.contact-item:not(:first-child) {
  margin-left: 50px;
}

.contact-header-link {
  display: inline-flex;
  align-items: center;

  color: var(--main-color-text);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;

  text-decoration: none;
}

.icon-contact {
  margin-right: 10px;
  fill: currentColor;
}


/* Main */

.hero-section {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;

  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero/hero.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* Подстраховка bgd */
  background-color: var(--activ-color-blue);
}

.hero-title {
  margin-bottom: 30px;
  max-width: 696px;
  margin-left: auto;
  margin-right: auto;

  color: var(--white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

/* Batton */

.button {
  min-width: 152px;
  border-radius: 4px;
  padding: 10px 32px;
  border: none;

  color: var(--white-color);
  background-color: var(--activ-color-blue);
  font-family: "Roboto";
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;

  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.button:active {
  background-color: #188ce8;
}

/* Section original */

.flex-features {
  display: flex;
}


.item-features:not(:last-child) {
  margin-right: 30px;
}

.icon-container {
  display:flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  height: 120px;

  background: #f5f4fa;
  border-radius: 4px;
}

.subtitle {
  margin-bottom: 10px;
  line-height: 1.14;

  color: var(--titel-color-text);
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
}

.descript {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

/* Section works img */

.work {
  padding-top: 0;
}

.flex-work {
  display: flex;
  justify-content: space-between;
}

.title-work,
.title-team,
.title-client {
  color: var(--titel-color-text);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 50px;
}

/*  Section team */

.team {
  background-color: #f5f4fa;

  text-align: center;
}

.flex-team {
  display: flex;
  justify-content: space-between;
}

.team-card {
  width: 270px;
  border-radius: 0px 0px 4px 4px;

  background: var(--white-color);

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team-cont {
  padding-top: 30px;
  padding-bottom: 30px;
}

.name {
  color: var(--titel-color-text);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}

.prof {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}



.network {
  display: flex;
  justify-content: center;

  gap: 10px;
}

/* Аналог gap */
/* .icon-network-item+.icon-network-item{
  margin-left: 10px ;
} */


.icon-network-item {
  display: inline-flex;
}

.icon-network-link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--white-color);
  color: var(--icon-main-color);
}

.icon-network-link:hover,
.icon-network-link:focus {
  background-color: var(--logo-blue-text);
  color: var(--white-color);
}

.icon-network {
  fill: currentColor;
}

/* claint  */

.clients {
  display: flex;
}
.icon-client-item {
  width: 170px;
  height: 92px;
}
.icon-client-item + .icon-client-item {
  margin-left: 30px;
}
.icon-client-link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: var(--icon-main-color);
}

.icon-client-link:hover,
.icon-client-link:focus {
  color: var(--activ-color-blue);
  border-color: var(--activ-color-blue);
}
.icon-client {
  fill: currentColor;
}

/* Footer */

.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: var(--bgd-accent-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
}

.address-box {
  width: 231px;
}

.flex-footer {
  display: flex;
  align-items: baseline;
}

.address {
  font-style: normal;
  margin-top: 20px;
}

.contact-footer-link {
  color: var(--main-color-text);
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.footer > .logo,
.map-link {
  color: var(--white-color);
}

.footer-email-item,
.footer-tel-item {
  margin-top: 9px;
}

.title-social {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.42;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;

  color: var(--white-color);
}
.social-box {
  align-items: baseline;
  margin-left: 70px;
}

.social {
  display: flex;
}
.social-item {
}
.social-item + .social-item {
  margin-left: 10px;
}
.social-link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;

  color: var(--white-color);
  background-color: rgba(255, 255, 255, 0.1);
}

.social-link:hover,
.social-link:focus {
  color: var(--white-color);
  background-color: var(--activ-color-blue);
}
.icon-social {
  fill: currentColor;
}

/* 2 Main Portfolio */

/* filter */
.filter.list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;

  color: var(--titel-color-text);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
}
.filter-item + .filter-item {
  margin-left: 8px;
}

.filter-button {
  padding: 6px 22px ;
  font-family: "Roboto";
  border: none;

  color: var(--titel-color-text);
  background-color: var(--bgd-button-filter);
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;

  cursor: pointer;
}

.filter-button:hover,
.filter-button:focus {
  color: var(--white-color);
  background-color: var(--activ-color-blue);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
/* Project page */

.projects.list {
  display: flex;
  flex-wrap: wrap;
}

.project-card {
  width: calc((100% - 15 * 2) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
  
  background: var(--white-color);
}


/* Сетка */
.project-card:nth-child(3n) {
  margin-right: 0px;
}
.project-card:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}

.project-link {
  display: block;
  text-decoration: none;
}

.project-link:hover,
.project-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.desc-cont {
  padding: 20px 24px;
  border-left: 1px solid var(--border-card-portfolio);
  border-bottom: 1px solid var(--border-card-portfolio);
  border-right: 1px solid var(--border-card-portfolio);
}
.project-title {
  color: var(--titel-color-text);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.project-desc {
  margin-top: 4px;

  color: var(--main-color-text);
  font-size: 16px;
  line-height: 1.85;
  letter-spacing: 0.03em;
}
